[Desktop Entry]
Encoding=UTF-8
Name=Link to jquery-tapir.js
Type=Link
URL=https://github.com/blimey85/octopress-tapir/blob/master/source/javascripts/jquery-tapir.js
Icon=text-html
